{:port 3000
 :prod true
 :database-url "postgresql://localhost/postgres?user=postgres&password=postgres"
 :thl-municipality-infections "https://sampo.thl.fi/pivot/prod/fi/epirapo/covid19case/fact_epirapo_covid19case.json?column=hcdmunicipality2020-445268L"
 :thl-province-deaths "https://sampo.thl.fi/pivot/prod/fi/epirapo/covid19case/fact_epirapo_covid19case.json?row=hcdmunicipality2020-445222&column=measure-492118"
 :thl-province-infections "https://sampo.thl.fi/pivot/prod/fi/epirapo/covid19case/fact_epirapo_covid19case.json?row=hcdmunicipality2020-445222&column=measure-444833"}
